



<table width="100%">
    <tr valign="top">
        <td class="column1" width="40%">
            {{fullnamestr}}
        </td>

        <td class="column2" width="60%">
            <input type="text" name="fullname" size="80" />
        </td>
    </tr>

    <tr>
        <td class="column1" width="40%">
            {{shortnamestr}}
        </td>

        <td class="column2">
            <input type="text" name="shortname" size="16" />
        </td>
    </tr>

    <tr>
        <td class="column1" width="40%">
            {{idnumberstr}}
        </td>

        <td class="column2">
            <input type="text" name="idnumber" size="16" />
        </td>
    </tr>

    <tr>
        <td class="column1" width="40%">
            {{targetcategorystr}}
        </td>

        <td class="column1">
            {{{catselect}}}
        </td>
    </tr>

</table>
