

<div class="local-coursetemplates-post-deploy">
<a href="{{{newcourseurl}}}" >{{#str}}gotonew, local_coursetemplates{{/str}}</a>
- <a href="{{{templatecourseurl}}}" >{{#str}}gototemplate{{/str}}</a>
- <a href="{{{templatelisturl}}}" >{{#str}}gototemplatelist{{/str}}</a>
</div>